# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BitalGO Core
Comment=BitalGO Core QT test network
GenericName=BitalGO Digital Currency QT client testnet network
Exec=bitalgo-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitalgo_testnet.png
MimeType=x-scheme-handler/alg;
Categories=X-Office;X-Finance;
Keywords=internet;bitalgo;zalg;talg;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
