# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BitalGO Core
Comment=BitalGO Core QT main network
GenericName=BitalGO Digital Currency QT client main network
Exec=bitalgo-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/bitalgo.png
MimeType=x-scheme-handler/bitalgo;
Categories=X-Office;X-Finance;
Keywords=internet;bitalgo;zalg;alg;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
