# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=BitalGO Core Daemon SNAP
Comment=testnet
GenericName=BitalGO Digital Currency Daemon Client testnet network
Exec=bitalgo-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/bitalgo_testnet.png
MimeType=x-scheme-handler/alg;
Categories=X-Office;X-Finance;
Keywords=internet;bitalgo;zalg;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
